<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>PCJIC</title>
</head>
<body>
    <header>
        <div class="ancho">
            <div class="logo">
                <a href="/"><img src="/img/logo.png"></a>
            </div>
            <nav class="nav1">
                <ul>
                    <li>INGENIERÍA INFORMÁTICA (PROGRAMACIÓN DISTRIBUIDA Y PARALELA)</li>
                </ul>
            </nav>
        </div>
    </header>
    <header class="header2">
        <div class="ancho2">
            <nav class="nav2">
                <ul>
                    <li><a href="/vacuna">Vacunas autorizadas</a></li>
                    <li><a href="/iasociado">Informe personas registradas</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="slider">
        <ul>
            <li>
                <img src="/img/construyamos-nuestro-plan-de-desarrollo-2022-2025.png">
            </li>
            <li>
                <img src="/img/cursos-diplomados-educacion-continua-2022-1.png">
            </li>
            <li>
                <img src="/img/puesto-de-vacunacion-en-el-poli-covid-19.png">
            </li>
            <li>
                <img src="/img/reporte-condiciones-salud-2021.png">
            </li>
        </ul>
    </div>
    <div class="container"  style="margin-bottom: 10%;">
        <div class="row mt-5">
            <div class="card">
                <div class="card-body">
                    <legend>Vacuna</legend>
                    <form action="/vacuna/update/<%= data.idVacuna%>" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre_vacuna" value="<%= data.nombre_vacuna%>" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary form-control">Editar Vacuna</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>