<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>PCJIC</title>
</head>
<body>
    <header>
        <div class="ancho">
            <div class="logo">
                <a href="/"><img src="/img/logo.png"></a>
            </div>
            <nav class="nav1">
                <ul>
                    <li>INGENIERÍA INFORMÁTICA (PROGRAMACIÓN DISTRIBUIDA Y PARALELA)</li>
                </ul>
            </nav>
        </div>
    </header>
    <header class="header2">
        <div class="ancho2">
            <nav class="nav2">
                <ul>
                    <li><a href="/vacuna">Vacunas autorizadas</a></li>
                    <li><a href="/iasociado">Informe personas registradas</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="slider">
        <ul>
            <li>
                <img src="/img/construyamos-nuestro-plan-de-desarrollo-2022-2025.png">
            </li>
            <li>
                <img src="/img/cursos-diplomados-educacion-continua-2022-1.png">
            </li>
            <li>
                <img src="/img/puesto-de-vacunacion-en-el-poli-covid-19.png">
            </li>
            <li>
                <img src="/img/reporte-condiciones-salud-2021.png">
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="card" id="Agregar" style="border:1px solid black; display: none; margin-bottom: 2px;">
                <div class="card-body">
                    <legend>Vacuna</legend>
                    <form action="/vacuna/add" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre_vacuna" placeholder="Vacuna" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary form-control">Agregar Vacuna</button>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover mt-5" id="tabla" style="margin-bottom: 10%;">
            <thead style="text-align: center;">
                <br>
                <button onclick="myFunction()" class="btn btn-success">Agregar</button>
                <th>ID VACUNA</th>
                <th>NOMBRE</th>
                <th>ACCIONES</th>
            </thead>
            <tbody style="text-align: center;">
                <% if (data)  { %>
                    <%for (var i = 0; i < data.length; i++) {%>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= data[i].nombre_vacuna %></td>
                            <td>
                                <a href="/vacuna/delete/<%= data[i].idVacuna %>" class="btn btn-danger">Eliminar</a>
                                <a href="/vacuna/edit/<%= data[i].idVacuna %>" class="btn btn-info">Editar</a>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
    <script src="script.js"></script>
</body>
</html>