<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>PCJIC</title>
</head>
<body>
    <div class="social-bar">
        <a href="https://www.facebook.com/polijic/" target="_blank"><i class="fa-brands fa-facebook-f icono"></i></a>
        <a href="https://www.youtube.com/channel/UCLSaxR0qrhvgCg2SUVW84FQ/videos" target="_blank"><i class="fa-brands fa-youtube icono"></i></a>
        <a href="https://www.instagram.com/politecnicojic/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram icono"></i></a>
        <a href="https://twitter.com/politecnicoJIC" target="_blank"><i class="fa-brands fa-twitter icono"></i></a>
    </div>
    <header>
        <div class="ancho">
            <div class="logo">
                <a href="/"><img src="/img/logo.png"></a>
            </div>
            <nav class="nav1">
                <ul>
                    <li>INGENIERÍA INFORMÁTICA (PROGRAMACIÓN DISTRIBUIDA Y PARALELA)</li>
                </ul>
            </nav>
        </div>
    </header>
    <header class="header2">
        <div class="ancho2">
            <nav class="nav2">
                <ul>
                    <li><a href="/vacuna">Vacunas autorizadas</a></li>
                    <li><a href="/iasociado">Informe personas registradas</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="slider">
        <ul>
            <li>
                <img src="/img/construyamos-nuestro-plan-de-desarrollo-2022-2025.png">
            </li>
            <li>
                <img src="/img/cursos-diplomados-educacion-continua-2022-1.png">
            </li>
            <li>
                <img src="/img/puesto-de-vacunacion-en-el-poli-covid-19.png">
            </li>
            <li>
                <img src="/img/reporte-condiciones-salud-2021.png">
            </li>
        </ul>
    </div>
    <div class="container" style="margin-bottom: 50px;">
        <h1 style="text-align: center;">EDICION</h1>
        <form action="/vacuna/update/<%= data.id_vacuna%>" method="post" class="formulario" id="formulario" style="margin-top: 40px;">
			<!-- Grupo: Nombre -->
			<div class="formulario__grupo" id="grupo__nombre">
				<label for="nombre" class="formulario__label">Nombre</label>
				<div class="formulario__grupo-input">
					<input name="nombre_vacuna" type="text" class="formulario__input"  id="nombre_vacuna"  value="<%= data.nombre_vacuna%>" placeholder="Nombre vacuna">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El nombre solo puede contener números, letras y guión bajo, y su tamaño debe ser de 4 a 16 dígitos.</p>
			</div>
			<div class="formulario__mensaje" id="formulario__mensaje">
				<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b>Por favor rellene el formulario correctamente.</p>
			</div>
			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn">Editar Vacuna</button>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
			</div>
		</form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>